/* pages/aboutUs/aboutUs.wxss */
page{
  height: 100%;
  width: 100%;
}
.detail{
    // height: (568*2rpx);
    height: 100%;
    width: 750rpx;
    background-color: rgb(244,244,244);
    // background-color: red;
    .image{
      image{
        width: 100%;
      }
    }
    .function{
      margin: 10px 10px;
    }
    .checkNewVersion{
        margin: 10px 10px;
    }

}